@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import "tailwindcss";

 
*{
font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;

}

.font-normal{
  font-family: 'Times New Roman', Times, serif;
}

.bg-blur{
  filter: blur(80px);
}

.bg-blur-1{
  filter: blur(100px);
}

body{
  width: 100vw;
  overflow-x: hidden;
}